.float-btns {
    transform: perspective(400);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 900;
}

.ButtonGroup {
    --btn-length: 60px;
    text-align: center;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    transform: translateY(-30px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonGroup i {
    width: var(--btn-length);
    height: var(--btn-length);
    line-height: var(--btn-length);
    border-radius: 50%;
    
    position: relative;
    color: white;
    background-image: linear-gradient(104deg, #3159df, #89d6e4);
    font-size:20px;
}

.ButtonGroup a i {
    position: absolute;
    top: calc(var(--btn-length) * 0.01);
    left: calc(var(--btn-length) * 0.25);

    height: var(--btn-length);
    width: var(--btn-length);
    line-height: var(--btn-length);
    font-size: 10px;
    z-index: -1;
    text-decoration: none;
    opacity: 0;
    background-image: none;
    
    transition: .6s;
}

#ButtonGroup-click {
    display: none;
}

#ButtonGroup-click:checked ~ .ButtonGroup i {
    color: rgba(255, 255, 255, 1);
}

.ButtonGroup a i {
    height: var(--btn-length);
    width: var(--btn-length);
    line-height: var(--btn-length);
    font-size: 30px;
    opacity: 1;
    z-index: 1;
    font-size:20px;
}

.ButtonGroup a:nth-child(1) i {
    /*top: calc(var(--btn-length) * 0.5);*/
    left: calc(var(--btn-length) * -3.3);
    background-color: #9fc4e9;
}

.ButtonGroup a:nth-child(2) i {
    /*top: calc(var(--btn-length) * -0.5);*/
    left: calc(var(--btn-length) * -2.2);
    background-color: #67b2f0;
}

.ButtonGroup a:nth-child(3) i {
    /*top: calc(var(--btn-length) * -1.0);*/
    left: calc(var(--btn-length) * -1.1);
    background-color: #3275cc;
}


.ButtonGroup i {
    color: rgba(255, 255, 255, 0.6);;
    background-image: linear-gradient(80deg, #123597, #97ABFF);
}
    
.ButtonGroup a i {
    color: rgba(255, 255, 255, 0.6);
}

#ButtonGroup-click:checked ~ .ButtonGroup i {
    color: rgba(255, 255, 255, 0.8);
}


