header {
    margin: 20px 0;
}

header .HeaderGroup {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    overflow: hidden;
}

header label {
    font-size: 3rem;
}

.HeaderSubGroup {
    width: 90%;
    margin: 80px auto 30px auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    text-align: center;
    align-items: center;
    justify-content:center;
    border-bottom: 3px solid white;
}

.HeaderSubGroup span {
    font-size: 0.8rem;
    color: white;
    top:30px;
    margin-bottom: 10px;
}

.HeaderSubGroup .tools {
    display: grid;
    /*top:30px;*/
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}

.HeaderSubGroup .tools li {
    text-decoration: none;
    
}

.HeaderSubGroup .tools li button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 0.6rem;
    line-height: 0.6rem;
    border-radius: 5px;
    outline: none;
    padding: 7px;
    transition: .3s cubic-bezier(0.2,0.8,0.2,1);
}

.HeaderSubGroup .tools li button:active {
    background-color: rgba(255, 255, 255, 0.8);
}



header .HeaderGroup {
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
    top:30px;
}
    
.spotlight {
    color: rgb(2, 2, 2);
}
.spotlight::after {
    background-image: linear-gradient(104deg, #1c398a, #5b6caf);
    background-size: 150%;
    background-position: center center;
    -webkit-background-clip: text;
}

.HeaderSubGroup {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);;
}
    
.HeaderSubGroup span {
    color: rgba(255, 255, 255, 0.61);
}

.HeaderSubGroup .tools li button {
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.521);
}
    
.HeaderSubGroup .tools li button:active {
    background-color: rgba(255, 255, 255, 0.24);
}
